<% include header.ejs %>
<div class="tab-content">
    <div class="tab-pane active" id="teams">
        <div class="canvas-wrapper">
            <canvas id="stats"></canvas>
        </div>
        <img style="display:none" id="blue" src="/img/blue-field.png" width="946">
        <img style="display:none" id="red" src="/img/red-field.png" width="946">
        <img style="display:none" id="start" src="/img/start.png" width="1024">
        <img style="display:none" id="Cargo" src="/img/cargo.png">
        <img style="display:none" id="Hatch" src="/img/hatch.png">
        <div class="row" style="margin-left: 20px; margin-right:10px;">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="card card-stats">
                    <div class="card-header card-header-warning">
                        <h3 class="card-title">Auto</h3>
                    </div>
                    <div class="col-md-12 center body">
                        <h4>Powercells</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <h3 id="autoPowercellMax"></h3>
                                <h6>MAX</h6>
                            </div>
                            <div class="col-md-4">
                                <h3 id="autoPowercellAverage"></h3>
                                <h6>AVG</h6>
                            </div>
                            <div class="col-md-4">
                                <h3 id="autoPowercellMin"></h3>
                                <h6>MIN</h6>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="col-md-12 center">
                        <h4>Ports(avg)</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <h3 id="autoLowerAverage"></h3>
                                <h6>Lower</h6>
                            </div>
                            <div class="col-md-4">
                                <h3 id="autoOuterAverage"></h3>
                                <h6>Outer</h6>
                            </div>
                            <div class="col-md-4">
                                <h3 id="autoInnerAverage"></h3>
                                <h6>Inner</h6>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="col-md-12 center">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#autoPaths">
                            View Paths
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="card card-stats">
                    <div class="card-header card-header-success">
                        <h3 class="card-title">Teleop</h3>
                    </div>
                    <div class="col-md-12 center body">
                        <div class="row">
                            <div class="col-4" style="border-right:1px solid #ddd;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>Lower</h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h3 id="teleLowerAverage"></h3>
                                        <h6>Avg</h6>
                                    </div>
                                    <div class="col-md-6">
                                        <h3 id="teleLowerMax"></h3>
                                        <h6>Max</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4" style="border-right:1px solid #ddd;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>Outer</h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h3 id="teleOuterAverage"></h3>
                                        <h6>Avg</h6>
                                    </div>
                                    <div class="col-md-6">
                                        <h3 id="teleOuterMax"></h3>
                                        <h6>Max</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>Inner</h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h3 id="teleInnerAverage"></h3>
                                        <h6>Avg</h6>
                                    </div>
                                    <div class="col-md-6">
                                        <h3 id="teleInnerMax"></h3>
                                        <h6>Max</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="col-md-12 center">
                        <div class="row">
                            <div class="col-8" style="border-right:1px solid #ddd;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>Control Panel</h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h3 id="rotationControlTotal"></h3>
                                        <h6>Rotation</h6>
                                    </div>
                                    <div class="col-md-6">
                                        <h3 id="positionControlTotal"></h3>
                                        <h6>Position</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>Position</h4>
                                    </div>
                                    <div class="col-md-12">
                                        <h3 id="favoritePosition"></h3>
                                        <h6>Favorite</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                    
                    
                    <div class="col-md-12 center">
                        <div class="row">
                            <div class="col-8" style="border-right:1px solid #ddd;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>Hang Rates(%)</h4>
                                    </div>
                                    <div class="col-md-3">
                                        <h3 id="soloHangAverage"></h3>
                                        <h6>Hang</h6>
                                    </div>
                                    <div class="col-md-3">
                                        <h3 id="soloBalancedHangAverage"></h3>
                                        <h6>Bal. Hang</h6>
                                    </div>
                                    <div class="col-md-3">
                                        <h3 id="assistedHangAverage"></h3>
                                        <h6>Assist. Hang</h6>
                                    </div>
                                    <div class="col-md-3">
                                        <h3 id="assistedBalancedHangAverage"></h3>
                                        <h6>Assist. Bal. Hang</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>Robot Died</h4>
                                    </div>
                                    <div class="col-md-12">
                                        <h3 id="robotDiedAverage"></h3>
                                        <h6>Total</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-md-12">
                <div class="card card-stats" style="margin-top:20px;">
                    <div class="card-header card-header-info">
                        <h3 class="card-title">Miscellaneous</h3>
                    </div>
                    <div class="col-md-12 center body">
                        <div class="row">
                            <div class="col-6" style="border-right:1px solid #ddd;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>Point Contribution</h4>
                                    </div>
                                    <div class="col-md-3">
                                        <h3 id="pointContributionAverage"></h3>
                                        <h6>Avg</h6>
                                    </div>
                                    <div class="col-md-3">
                                        <h3 id="pointContributionstDev"></h3>
                                        <h6>StDev</h6>
                                    </div>
                                    <div class="col-md-3">
                                        <h3 id="pointContributionMin"></h3>
                                        <h6>Min</h6>
                                    </div>
                                    <div class="col-md-3">
                                        <h3 id="pointContributionMax"></h3>
                                        <h6>Max</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>Average Ratings</h4>
                                    </div>
                                    <div class="col-md-3">
                                        <h3 id="intakeAverage"></h3>
                                        <h6>Powercell Intake</h6>
                                    </div>
                                    <div class="col-md-3">
                                        <h3 id="shootingRatingAverage"></h3>
                                        <h6>Shooting</h6>
                                    </div>
                                    <div class="col-md-3">
                                        <h3 id="driverRatingAverage"></h3>
                                        <h6>Driver</h6>
                                    </div>
                                    <div class="col-md-3">
                                        <h3 id="defenseRatingAverage"></h3>
                                        <h6>Defense</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="col-md-12 center">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th style="width: 5%">Match</th>
                                                    <th style="width: 10%">Name</th>
                                                    <th style="text-align: left; width: 50%">Notes</th>
                                                    <th style="text-align: left; width: 35%">Climb Notes</th>
                                                </tr>
                                            </thead>
                                            <tbody id="notes">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- MODAL TO VIEW AUTO PATHS -->
            <div class="modal fade" id="autoPaths" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Auto Paths</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="accordion" style="color:black;">

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" style="background-color:#e8e8e8;"
                                data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include matches.ejs %>
    <% include compare.ejs %>
    <% include picklist.ejs %>
</div>
<% include footer.ejs %>